<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Conditions" developmentDependency="true" version="2.0.0" targetFramework="net451" />
  <package id="Html2Markdown" developmentDependency="true" version="1.0.3.11422" targetFramework="net45" />
  <package id="LinqExtensions" developmentDependency="true" version="0.0.1.14396" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" developmentDependency="true" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" developmentDependency="true" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" developmentDependency="true" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" developmentDependency="true" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" developmentDependency="true" version="5.6.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" developmentDependency="true" version="6.0.4" targetFramework="net452" />
  <package id="System.Spatial" developmentDependency="true" version="5.6.0" targetFramework="net45" />
</packages>